* {
    box-sizing: border-box;
}

body {
    background-color: rgb(26, 82, 155);
}

h1 {
    margin: 2px 3px 1px;
    font-family: 'Roboto Mono', monospace;
    font-size: 150px;

}

section {
    font-family: 'PT Serif', serif;
    border: 2px solid black;
    margin: 2px 3px 4px;
    padding: 2px 3px 2px;
}

div {
    float: left;
    margin: 2px 3px 2px;
    border: 1px 1px 2px;
    padding: 2px 3px 1px;
}

p {
    font-family: 'Roboto Mono', monospace;
    font-size: 23px;
}

h2 {
    font-size: 33px;
    float: initial
}

h3 {
    font-size: 12px;
    float: right
}